<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{ message }}
    </div>
{% endfor %}
{% endif %}

{% if all_items %}
<table class="table table-bordered">
    {% for things in all_items reversed %}
    {% if things.completed %}
    <tr class="table-secondary">
    <td ><div class="striker" style="color:#007bff;">{{things.item}}</div>
      <br>
      <sup><sup>Deleted at: {{things.deleted_time}} </sup></sup>
    </td> 
    <td width="15%"> Uncompleted </td>
    <td width="10%"><a class="alert alert-success"  href="{% url 'restore' things.id %}">Restore</a></td>
    <td width="10%"><a class="alert alert-danger" href="{% url 'delete1' things.id %}">Delete</a></td>
    </tr>
    {% else %}
    <tr>
        <td><div style="color:#007bff;">{{things.item}}</div> 
            <br>
        <sup><sup>Deleted at: {{things.deleted_time}} </sup></sup>   </td>
        
        <td width="15%"> Completed</td>
        <td width="10%"><a class="alert alert-success" href="{% url 'restore' things.id %}">Restore</a></td>
        <td width="10%"><a  class="alert alert-danger" href="{% url 'delete1' things.id %}">Delete</a></td>
        </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}

{% if all_items %}
<button type="button" class="btn btn-danger"><a href="{% url 'delete1_all' %}"> Delete All</a> </button>
<button type="button" class="btn btn-success"><a href="{% url 'restore_all' %}"> Restore All</a> </button>
<br>
<br>
{% else %}

<h4 style="color: teal;">No items in Deleted List &#128515;&#128515; </h4>
{% endif %}

{% endblock %}

<div></div>